* {
  margin: 0px;
  padding: 0px;
}

.pc-container {
  font-family: "Montserrat", sans-serif;
  padding: 93px;
  background: rgb(232, 237, 239);
  overflow:hidden;
  position: relative;
  z-index: 1;
}

.container-heading {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 1.625rem !important;
  letter-spacing: -0.65px
}

.renTab {
  color: white;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
  border-radius: 0.5rem 0 0 0;
}

.ordTab {
  border-radius: 0 0.5rem 0 0;
}

.tab button:not(.active) {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  transform: translateY(0.35ex);
  transition: transform 0.15s ease-out;
}

.tab button:not(.active):hover {
  transform: translateY(0ex);
}

/*Table CSS*/
.pc-container .child-table {
  width: 100%;
  border: 1px solid #919fa9;
  color: #222;
  border-collapse: collapse
}
.child-table thead tr {
  background: #cbd4d8 !important;
}

.chart-container, .filter-container {
  display: flex;
}

.pc-container table {
  color: #222;
}

.pc-container ul {
  font-weight: 500;
}

.pc-container .loader {
  position: relative;
}
.pc-container .loader .no-padding {
  left: 0;
}
.pc-container .loader:before {
  content: url('../images/bx_loader.gif');
  position: absolute;
  left: -32px;
  top: 5px;
}

.pc-container .spinner {
  text-align: center;
}

.pc-container .sr-only {
  top: 10px;
  position: relative;
  padding-left: 10px;
}

.pc-container div.dt-buttons {
  float: right;
}
.dt-buttons button {
  color: #222;
  background: none !important;
  letter-spacing: 1px;
  margin: 0px 0px 5px 0px;
}

.buttons-excel {
  all: unset;
  border-radius: 0.25rem;
  padding: 0.5ex 1ch;
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.buttons-excel::before {
  content: "➡|";
  display: grid;
  align-items: center;
  transform: rotate(90deg);
  border-radius: 2rem;
  width: 1.4rem;
  background-color: rgba(0, 20, 50, 0.3);
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 70%;
  margin-right: 2ch;
  transition: transform 0.2s ease;
}

.pc-container #renewalTable_length, .pc-container #orderTable_length {
  margin-top: 10px;
}

.pc-container table thead {
  font-size: 14px;
}
.pc-container table tbody td {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.pc-container table tbody td.child {
  text-align: left;
}
.pc-container table thead th:first-child.sorting_asc {
  background-image: none !important;
}
.pc-container table tbody tr.parent td.sorting_1 {
  background-color: initial !important;
}
.pc-container table tbody tr td.details-control {
  background: url('../images/details_open.png') no-repeat center center;
  cursor: pointer;
}
.pc-container table tbody tr.shown td.details-control {
  background: url('../images/details_close.png') no-repeat center center !important;
  cursor: pointer;
}
.pc-container table thead, .pc-container table tbody tr.shown {
  color: #222;
  background: #cbd4d8;;
}
.pc-container .dtr-details .dtr-title {
  width: 200px;
}

/*Tabs CSS*/
.pc-container #renewalTable_filter, .pc-container #orderTable_filter {
  display: none;
}

.pc-container .filter-icon {
  background-image: url("../images/details_open.png");
}

.pc-container .tab {
  overflow: hidden;
}

.pc-container .tab-content{
  padding: 1rem;
  border: 1px solid #919fa9;
}

.pc-container .error {
  color:red;
  font-weight: bold;
}
  
.pc-container .tab button {
  background-color: white;
  border: 1px solid #919fa9;
  color: #ccc;
  font-weight: 400;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 8px 14px;
  transition: 0.3s;
  font-size: 17px;
}
  
.pc-container .tab button.active {
  background-color: #274A77;
  border-color: #274A77;
  color: white;
}
  
.pc-container .tabcontent {
  display: none;
  padding: 6px 12px;
}

.select2-container .select2-search--inline .select2-search__field, .select2-results__option {
  font-family: Tahoma !important;
  text-align: center;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #274877;
}

/*Header Container CSS*/
.pc-container .header-container {
  min-height: 200px;
  padding: 6px 12px;
}

.pc-container .header-container {
  display: flex;
}

.pc-container .chart {
  width: 275px;
  height: 180px;
  float: left;
  margin: 10px;
}

.pc-container .chart p {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 24px;
  padding: 0px 50px;
}

.pc-container .chart .bold {
  font-weight: 700;
  font-size: 30px;
}
.pc-container .filter-container {
  width: 50%;
  margin: 10px;
}

.filter-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.filter-container label {
  grid-column: -1/1;
  margin: 0;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: #444444;
}

.pc-container .filter-col {
  float: left;
  margin: 10px;
  width: 30%;
}

.pc-container input {
  padding: 5px;
}

.pc-container select {
  width: 60px;
}

.pc-container .filter-container .select2-selection, .pc-container .filter-container input {
  border: 1px solid #b3bec5;
  color: #222;
  border-radius: 0px;
}

.pc-container .header-container select, .pc-container .header-container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

.pc-container .header-container select {
  background: transparent;
  background-image: url("../images/details_open.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position-x: 4%;
  background-position-y: 6px;
}

.pc-container .header-container select:focus {
  background-image: url("../images/details_close.png");
}

.pc-container .header-container input[type="date"]::-webkit-calendar-picker-indicator { position: absolute; }
.pc-container .header-container input::-webkit-datetime-edit { position: relative; }
.pc-container .header-container input::-webkit-datetime-edit-fields-wrapper { position: relative; }

.pc-container .header-container input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("../images/details_open.png") no-repeat;
  background-size: 15px 15px;
  background-position-x: 0%;
  background-position-y: 3px;  
  right: inherit;
}

.reload {
  text-decoration: underline;
  cursor: pointer;
}

table.dataTable.display tbody tr>.sorting_1 {
  background-color: unset !important; 
}

.reload {
  display: none;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: none !important;
}

.dataTable tr:nth-of-type(even) {
  background-color: #F2F2F2;
  border-top: 1px solid #cbd4d8;
  border-bottom: 1px #cbd4d8;
}

.even {
  background-color: #F2F2F2 !important;
  border-top: 1px solid #cbd4d8;
  border-bottom: 1px #cbd4d8;
}

.odd {
  background-color: white !important;
}

table.dataTable.display tbody tr.odd {
  background-color: white !important;
}

.select2-container .select2-search--inline .select2-search__field, .select2-results__option {
  text-align: left !important;
}

.date-selector {
  background-color: white !important;
  background: url("../images/calendar.png") no-repeat;
  background-size: 15px 15px;
  background-position-x: 96%;
  background-position-y: 7px;  
  right: inherit;
}

table.dataTable.no-footer {
  border-bottom: unset;
}

.angled-container__top-angle {
  position: absolute;
  z-index: -1;
  top: -27px;
  right: -14px;
  width: 300px;
  height: 54px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  transform: rotate(11deg);
}

.angled-container__top-angle--image:after, .angled-container__bottom-angle--image:after {
  background: transparent;
}

.angled-container__top-angle:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, transparent 1%, rgba(0, 0, 0, 0.2) 100%);
}

.angled-container__bottom-angle {
  position: absolute;
  z-index: -1;
  left: -25px;
  bottom: -25px;
  width: 300px;
  height: 54px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  transform: rotate(11deg);
}

.angled-container__bottom-angle:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 1%, transparent 100%);
}

.dataTables_wrapper .dataTables_length select, .reset-filter {
  background-color: white;
  border: 1px solid #b3bec5;
  color: #222;
  border-radius: 0px;
  cursor: pointer;
}